# Node 1 - ADD Server Configuration
NODE_1_HOST=0.0.0.0
NODE_1_PORT=5001
NODE_1_URL=http://192.168.161.137:5001

# Node 2 - SUBTRACT Server Configuration
NODE_2_HOST=0.0.0.0
NODE_2_PORT=5002
NODE_2_URL=http://192.168.161.149:5002

# Node 3 - MULTIPLY Server Configuration
NODE_3_HOST=0.0.0.0
NODE_3_PORT=5003
NODE_3_URL=http://192.168.161.16:5003

# Node 4 - DIVIDE Server Configuration
NODE_4_HOST=0.0.0.0
NODE_4_PORT=5004
NODE_4_URL=http://192.168.161.238:5004
